@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans JP',"遊ゴシック体", YuGothic, "遊ゴシック Medium","Yu Gothic Medium", "遊ゴシック", "Yu Gothic", sans-serif;
}

html {
  /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.l-fotter .l-page_top {
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  .l-fotter .l-page_top {
    text-align: right;
    margin-right: 100px;
  }
}

.l-fotter .l-footer-inner {
  background-color: #333333;
  padding: 40px 30px;
}

@media (min-width: 960px) {
  .l-fotter .l-footer-inner {
    padding: 80px 30px 40px;
  }
}

.l-header {
  position: relative;
}

@media (min-width: 960px) {
  .l-header .hamburger_menu {
    opacity: 0;
  }
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_btn:hover {
  cursor: pointer;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_btn .menu-trigger {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 9999;
  -webkit-transition: all .3s;
  transition: all .3s;
  /*アニメーションの設定*/
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_btn .menu-trigger span {
  display: inline-block;
  background-color: white;
  position: absolute;
  height: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
  /*アニメーションの設定*/
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_btn .menu-trigger span:nth-child(1) {
  top: 35%;
  width: 100%;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_btn .menu-trigger span:nth-child(2) {
  top: 75%;
  right: 0;
  width: 60%;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_btn .active span:nth-child(1) {
  -webkit-transform: translate(3px, 6px) rotate(45deg);
          transform: translate(3px, 6px) rotate(45deg);
  width: 80%;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_btn .active span:nth-child(2) {
  -webkit-transform: translate(-3px, -6px) rotate(-45deg);
          transform: translate(-3px, -6px) rotate(-45deg);
  width: 80%;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_nav {
  background-color: rgba(3, 3, 3, 0.9);
  position: absolute;
  width: 100%;
  padding: 120px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  /*アニメーションの設定*/
  z-index: 2;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_nav .slide_menu_content .slide_menu_list {
  text-align: center;
  margin-bottom: 40px;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_nav .slide_menu_content .slide_menu_list:nth-child(1) {
  padding: 3px;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_nav .slide_menu_content .slide_menu_list:nth-child(2) {
  padding: 3px;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-delay: .04s;
          transition-delay: .04s;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_nav .slide_menu_content .slide_menu_list:nth-child(3) {
  padding: 3px;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-delay: .08s;
          transition-delay: .08s;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_nav .slide_menu_content .slide_menu_list:nth-child(4) {
  padding: 3px;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-delay: .12s;
          transition-delay: .12s;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_nav .slide_menu_content .slide_menu_list:last-child {
  margin-bottom: 80px;
  padding: 3px;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-delay: .16s;
          transition-delay: .16s;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_nav .slide_menu_content .slide_menu_list a {
  color: white;
  font-weight: bold;
  position: relative;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_nav .slide_menu_content .slide_menu_list a::after {
  content: "";
  position: absolute;
  background: white;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  /*アニメーションの指定*/
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  /*X方向0、Y方向1*/
  -webkit-transform-origin: left top;
          transform-origin: left top;
  /*左上基点*/
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_nav .slide_menu_content .slide_menu_list a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  /*X方向0、Y方向1*/
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_nav .p-sns_block {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-header .hamburger_menu .header_nav_sp .slide_menu_nav .p-sns_block .p-sns_list {
  margin: 0 40px;
}

.l-header .hamburger_menu .header_nav_sp .open {
  opacity: 1;
  visibility: visible;
}

.l-header .hamburger_menu .header_nav_sp .open .slide_menu_content .slide_menu_list:nth-child(n) {
  padding: 0px;
  opacity: 1;
}

.l-header .site-title_sp {
  position: absolute;
  margin: 0px 20px;
  z-index: 2;
}

.l-header .site-title_sp a {
  color: white;
  font-size: 20px;
}

.l-header .site-title_sp a:hover {
  cursor: pointer;
}

.l-header .site-title_sp a span {
  display: block;
}

@media (min-width: 960px) {
  .l-header .site-title_sp {
    display: none;
  }
}

@media (min-width: 960px) {
  .l-header .main_visual_area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.l-header .main_visual_area .main-visual {
  background-image: url("../image/6DFBECF5-411A-4601-AF2F-17C93C7923D8.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position-x: 30%;
}

@media (min-width: 960px) {
  .l-header .main_visual_area .main-visual {
    background-image: url("../image/6DFBECF5-411A-4601-AF2F-17C93C7923D8.png");
    width: 70%;
    background-position: inherit;
    background-size: cover;
    height: 90vh;
    position: relative;
  }
}

.l-header .main_visual_area .main-visual .site_title_pc {
  opacity: 0;
}

@media (min-width: 960px) {
  .l-header .main_visual_area .main-visual .site_title_pc {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: -10%;
    background-color: white;
    padding: 0 40px 0 0;
    font-size: 7rem;
  }
}

.l-header .main_visual_area .main-visual .site_title_pc span {
  display: block;
}

.l-header .main_visual_area .main-visual_single {
  background-image: url("../image/main-img_single.png");
  height: 60vh;
  position: relative;
}

@media (min-width: 960px) {
  .l-header .main_visual_area .main-visual_single {
    background-image: url("../image/main-img_single.png");
    height: 90vh;
  }
}

.l-header .main_visual_area .main-visual_single .works_title_sp {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (min-width: 960px) {
  .l-header .main_visual_area .main-visual_single .works_title_sp {
    display: none;
  }
}

.l-header .main_visual_area .main-visual_single .works_title_sp span {
  display: block;
  font-size: 2rem;
}

.l-header .main_visual_area .main-visual_single .works_title {
  text-align: center;
  padding: 10px 120px;
}

.l-header .main_visual_area .main-visual_single .works_title span {
  font-size: 2rem;
}

.l-header .main_visual_area .header_nav_pc {
  display: none;
}

@media (min-width: 960px) {
  .l-header .main_visual_area .header_nav_pc {
    display: block;
    width: 30%;
  }
  .l-header .main_visual_area .header_nav_pc .header_nav_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-header .main_visual_area .header_nav_pc .header_nav_content .header_nav_list {
    margin-bottom: 40px;
  }
  .l-header .main_visual_area .header_nav_pc .header_nav_content .header_nav_list a {
    color: #333;
    font-weight: bold;
    position: relative;
  }
  .l-header .main_visual_area .header_nav_pc .header_nav_content .header_nav_list a::after {
    content: "";
    position: absolute;
    background: #333;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    /*アニメーションの指定*/
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    /*X方向0、Y方向1*/
    -webkit-transform-origin: left top;
            transform-origin: left top;
    /*左上基点*/
  }
  .l-header .main_visual_area .header_nav_pc .header_nav_content .header_nav_list a:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    /*X方向0、Y方向1*/
  }
}

.l-header .l-scrolldown {
  position: absolute;
  bottom: 10px;
  left: 50%;
}

@media (min-width: 960px) {
  .l-header .l-scrolldown {
    left: 15%;
  }
}

.l-main_wrapper {
  padding: 120px 30px;
}

.l-main_wrapper .l-section {
  max-width: 920px;
  margin: 0 auto 120px;
}

.c-scrolldown {
  /*上から下にかけて丸が透過→不透明→透過する*/
}

.c-scrolldown span {
  /*描画位置*/
  position: absolute;
  right: 10px;
  bottom: 10px;
  /*テキストの形状*/
  color: #eee;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

@media (min-width: 960px) {
  .c-scrolldown span {
    color: #333;
  }
}

.c-scrolldown::before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #eee;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  -webkit-animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
          animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
}

@media (min-width: 960px) {
  .c-scrolldown::before {
    background: #333;
  }
}

@-webkit-keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}

@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}

@-webkit-keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

.c-scrolldown::after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 2px;
  height: 50px;
  background: #eee;
}

@media (min-width: 960px) {
  .c-scrolldown::after {
    background: #333;
  }
}

.c-sec_title {
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 960px) {
  .c-sec_title {
    margin-bottom: 80px;
  }
}

.c-sec_title span {
  display: block;
  font-size: 12px;
}

.c-sns_btn {
  border: 1px solid #333;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #333;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 40px;
  position: relative;
}

.c-sns_btn::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #333;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

.c-sns_btn:hover {
  color: white;
}

.c-sns_btn:hover::after {
  width: 100%;
}

.c-page_top a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  position: relative;
  font-size: 1.2rem;
}

@media (min-width: 960px) {
  .c-page_top a {
    /*縦書き設定*/
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    font-size: 1.6rem;
  }
}

.c-page_top a::before {
  content: "";
  display: block;
  border-top: solid 2px #333;
  border-left: solid 2px #333;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg);
}

@media (min-width: 960px) {
  .c-page_top a::before {
    /*縦書き設定*/
    top: -30px;
  }
}

.c-copyright {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 13px;
}

.p-about_sec .p-about_content {
  margin-bottom: 40px;
  line-height: 2;
}

.p-about_sec .p-about_profile {
  line-height: 2;
}

@media (min-width: 560px) {
  .p-skills_sec .p-skills_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-skills_sec .p-skills_group .p-skills_content {
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 560px) {
  .p-skills_sec .p-skills_group .p-skills_content {
    width: calc((100% / 2) - (40px / 2));
    margin-right: 20px;
    margin-bottom: 80px;
  }
  .p-skills_sec .p-skills_group .p-skills_content:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 960px) {
  .p-skills_sec .p-skills_group .p-skills_content {
    width: calc((100% / 3) - (80px / 3));
    margin-right: 40px;
    margin-bottom: 80px;
  }
  .p-skills_sec .p-skills_group .p-skills_content:nth-child(2n) {
    margin-right: 40px;
  }
  .p-skills_sec .p-skills_group .p-skills_content:nth-child(3n) {
    margin-right: 0px;
  }
}

.p-skills_sec .p-skills_group .p-skills_content img {
  width: 40%;
}

@media (min-width: 960px) {
  .p-skills_sec .p-skills_group .p-skills_content img {
    width: 50%;
  }
}

.p-skills_sec .p-skills_group .p-skills_content figcaption {
  font-weight: bold;
}

@media (min-width: 560px) {
  .p-works_sec .p-works_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-works_sec .p-works_group .p-work_content {
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 560px) {
  .p-works_sec .p-works_group .p-work_content {
    width: calc((100% / 2) - (40px / 2));
    margin-right: 40px;
    margin-bottom: 80px;
  }
  .p-works_sec .p-works_group .p-work_content:nth-child(2n) {
    margin-right: 0px;
  }
}

@media (min-width: 960px) {
  .p-works_sec .p-works_group .p-work_content {
    width: calc((100% / 3) - (80px / 3));
    margin-right: 40px;
    margin-bottom: 80px;
  }
  .p-works_sec .p-works_group .p-work_content:nth-child(2n) {
    margin-right: 40px;
  }
  .p-works_sec .p-works_group .p-work_content:nth-child(3n) {
    margin-right: 0px;
  }
}

.p-works_sec .p-works_group .p-work_content img {
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.p-works_sec .p-works_group .p-work_content img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media (min-width: 560px) {
  .p-works_sec .p-works_group .p-work_content img {
    width: 90%;
  }
}

@media (min-width: 960px) {
  .p-works_sec .p-works_group .p-work_content img {
    width: 100%;
  }
}

.p-music_sec .p-music_heading {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 40px;
}

@media (min-width: 960px) {
  .p-music_sec .p-music_heading {
    margin-bottom: 80px;
  }
}

@media (min-width: 960px) {
  .p-music_sec .p-music_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-music_sec .p-music_content iframe {
  display: block;
  width: 100%;
  height: 45vw;
  margin-bottom: 40px;
}

@media (min-width: 960px) {
  .p-music_sec .p-music_content iframe {
    height: 24vw;
    max-height: 250px;
    width: calc(100% / 2 - (40px / 2));
    margin-right: 40px;
    margin-bottom: 80px;
  }
  .p-music_sec .p-music_content iframe:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 960px) {
  .p-music_sec .p-music_sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 960px) {
  .p-music_sec .p-music_sns .p-sns_btn {
    width: calc((100% / 3) - (80px / 3));
    margin-right: 40px;
  }
  .p-music_sec .p-music_sns .p-sns_btn:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 960px) {
  .p-footer_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-footer_nav .p-footer_nav_list {
  margin-bottom: 36px;
}

.p-footer_nav .p-footer_nav_list .p-footer_nav_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-footer_nav .p-footer_nav_list .p-footer_nav_content li {
  margin-right: 60px;
}

@media (min-width: 960px) {
  .p-footer_nav .p-footer_nav_list .p-footer_nav_content li {
    margin: 0 30px;
  }
}

.p-footer_nav .p-footer_nav_list .p-footer_nav_content li a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}

.p-footer_nav .p-footer_nav_list .p-footer_nav_content li a span {
  margin: 0 .1rem 0 .5rem;
}

.p-footer_nav .p-footer_nav_list .p-footer_nav_content li a .p-ja_title {
  font-size: 1rem;
  font-weight: normal;
}

.p-footer_nav .p-footer_nav_list:nth-child(3) {
  margin-bottom: 80px;
}

.p-footer_nav .p-footer_nav_list:nth-child(3) .p-footer_nav_content li:nth-child(2) {
  margin-left: 10px;
}

.p-sns_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (min-width: 960px) {
  .p-sns_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-sns_block .p-sns_list {
  margin-right: 20px;
  position: relative;
  z-index: 1;
}

@media (min-width: 960px) {
  .p-sns_block .p-sns_list {
    margin: 0 20px;
  }
}

.p-sns_block .p-sns_list a img {
  width: 30px;
}

.p-works_detail_sec .p-works_title {
  text-align: center;
}

.p-works_detail_sec .p-featured_image {
  width: 100%;
  display: block;
  margin: 40px auto 0;
}

@media (min-width: 560px) {
  .p-works_detail_sec .p-featured_image {
    width: 50%;
  }
}

.p-works_detail_sec .p-works_content h3 {
  margin-top: 40px;
}

.p-works_detail_sec .p-works_content p {
  margin-top: 10px;
  line-height: 1.7;
}

.p-works_detail_sec .p-works_content img {
  display: block;
  margin: 40px auto 0;
}
/*# sourceMappingURL=style.css.map */